<h1>Add Spell to book</h1>


<table>
  <thead>
    <tr>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.order(:name).each do |books| %>
      <tr>
        <td><%= books.name %></td>
        <td><%= radio_button_tag(@bk, "#{books}") %></td>
      </tr>
    <% end %>
    <% %>
    
  </tbody>
</table>

 